/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* general TAG rules */
body {
  padding: 0 150px;
  /* potrei anche dare dei margini ai contenitori interni, è una prova */
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin: 30px 0;
  padding-bottom: 10px;
  min-width: 545px;
  /* background-color: #0186fa; */
}

footer {
  /* background-color: #8801fe; */
  text-align: center;
  padding-bottom: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 40px;
    font-size: 18px;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #C6C6C6;
  }

  h1 {    
      font-size: 40px;
  }

  .hoverlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}
/* specific class rules */

.bottom-header {
  height: 500px;
  min-width: 372px;
  background: url(../img/banner.jpg) center center no-repeat;
  background-size: cover;
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.bottom-header-text {
    width: 50%;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.bottom-header-text span{
    display: block;
}

#bottom-header-title {
    font-size: 36px;
}

.main-title {
  height: 100px;
}

.main-container .col {
  margin-top: 20px;
}

.left-column,
.right-column {
  width: 20%;
}
.center-column {
  width: 55%;
  margin: 0 2.5%;
}

.left {
  float: left;
}

.logo {
    width: 200px;
    border-right: 1px solid #C6C6C6;
    padding-right: 20px;    
}

.logo img {
    width: 100%;          
}

span > p {
    color: #C6C6C6;
}

.image {
    width: 100%;
    height: 250px;
    background-color: grey;
    border-radius: 10px; 
    margin-bottom: 20px;  
} 

.image img {
    width: 100%;
    height: 250px;
    object-fit:cover;
    opacity: 0.5;
}
.subtitle, .main-subtitle {
    font-size: 18px;
}
.text span p{
    margin-top: 20px;
    font-size: 18px;
}

.red-heart {
    color: red;
    font-size: 24px;
}