/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* general TAG rules */

body {
  padding: 0 150px;
  /* potrei anche dare dei margini ai contenitori interni, è una prova */
}
main {
  margin: 20px 0;
  padding-bottom: 30px;
  background-color: #0186fa;
}

footer {
  margin-top: 10px;
  height: 50px;
  background-color: #8801fe;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 40px;
    font-size: 18px;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #C6C6C6;
  }
/* specific class rules */

.bottom-header {
  height: 500px;
  background: url(../img/banner.jpg) center center no-repeat;
  background-size: cover;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}

.bottom-header-text {
    width: 50%;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.bottom-header-text span{
    display: block;
}

#bottom-header-title {
    font-size: 36px;
}

.main-title {
  height: 100px;
}

.main-title,
.col {
  background-color: #abcfe7;
}

.main-container .col {
  height: 500px;
  /* border: 1px solid black; */
  margin-top: 30px;
}

.left-column,
.right-column {
  width: 20%;
}
.center-column {
  width: 55%;
  margin: 0 2.5%;
}

.left {
  float: left;
}

.logo {
    width: 200px;
    border-right: 1px solid #C6C6C6;
    padding-right: 20px;
    
}

.logo img {
    width: 100%;
    
      
}
